/* table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0px solid #ddd;
    
   
  } */
  
  .responsive {
     width: 100%;
    max-width: 130px;
    height: auto;
  }

  .pagination{
      position: absolute;
      left:100px;
      top: 850px;
  }

  .serc{
      position: absolute;
      left:200px;
      top:810px;
  }

  .button{
      position: absolute;
      left:270px;
      top: 820px;
  }

  table {
    width: 100%;
  }

  example-form {
    min-width: 50px;
    max-width: 50px;
    width: 20%;
   
  }
  .example-full-width {
    width: 20%;
    position: absolute;
    top: 850px;
    left: 490px;
  }

  .mat-raised-button{
    position: absolute;
    top: 115px;
    left: 329px;
}

.search-form-field{
  width:20%;
  position: relative;
  left: 50px;
}

/* .example-full-width1 {
  width: 20%;
  position: absolute;
  top: 70px;
  left: 20px;
} */