<!-- <p>product works!</p> -->
<html>
<body>
  
<h1 align="center">PRODUCTS</h1>

<form class="example-form" (ngSubmit)="onSearchMe(searchform.value)"#searchform="ngForm">
  <mat-form-field class="search-form-field">
    <mat-label>Search</mat-label>
    <input matInput id="ser" name="ser" [ngModel]="search" placeholder="Search">
  </mat-form-field><br><br>
  <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="search" (click)="onSearchClear()"><mat-icon>close</mat-icon></button>
  <button mat-raised-button  class="button" type="submit">Search</button>
  </form>
<!-- <div class="search-div">
 
  <mat-form-field class="search-form-field">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey" (click)="onSearchClear()"><mat-icon>close</mat-icon>
    </button>
    <button mat-raised-button  class="button" (click)=onClickMe(value) type="submit">Search</button>
  </mat-form-field>

</div> -->

<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource">
  

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Image </th>
    <td mat-cell *matCellDef="let element"><img src= "{{element.image}}" class="responsive"></td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element">{{element.description}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!-- <table  border="1" cellpadding="5"  width="100%">
  <col width="130">
  <tr>
    <th class="text-center">Id</th>
    <th class="text-center">Name</th> 
    <th class="text-center">Image</th>
    <th class="text-center">Description</th>
  </tr>
  
    <tr *ngFor="let prod of products">
        <td class="text-center">{{prod.id}}</td>
        <td>{{prod.name}}</td>
        <td class="text-center"><img src="{{prod.image}}" class="responsive"></td>
        <td class="text-center">{{prod.description}}</td>
    </tr>
  
  
 
</table> -->
<ul class="pagination">
    <!-- <li *ngFor="let i of pages"><li><a (click)="onPage(i)">{{i}}</a></li>
    </ul>
    <a (click)="onPag({{i}})">{{i}}</a> -->
    <li *ngFor="let i of pages"><a (click)="onPage(i)">{{i}}</a></li>
  <!-- <li><a (click)="onPage(i)">{{i}}</a></li>
  <li><a (click)="onPage(i)">{{i}}</a></li>
  <li><a (click)="onPage(i)">{{i}}</a></li>
  <li><a (click)="onPage(i)">{{i}}</a></li> -->
  </ul>
  <!-- <input type="text" class="serc" placeholder="Search.."><button type="submit" class="button">Submit</button> -->
  
</body>
</html>

